/*
.shortcode-video-play {
    background: rgba(0, 0, 0, .3);
    color: #fff;
    transition: all .1s ease-in-out;
    z-index: 1;
}
.shortcode-video-play .play-icon {
	width: 60px;
	height: 60px;
	border: #fff 3px solid;
	text-align: center;
}
.shortcode-video-play .dashicons {
	font-size: 40px;
	line-height: 1;
	width: auto;
	height: auto;
	margin-right: -3px;
}
.shortcode-video-play:focus,
.shortcode-video-play:hover {
	background: rgba(0, 0, 0, .1);
	color: #fff;
}
.shortcode-video-thumbnail.ratio {
	overflow: hidden;
}
.shortcode-video-thumbnail.ratio img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}
*/